<% provide(:title, "Home page") %>

     <!-- Site content !-->

      <%= link_to image_tag("uzlslogo3.png"), root_path, id: "logo" %>
      <!-- Place this tag where you want the button to render. -->
      <div class="github-butn">
        <a class="github-button" href="https://github.com/caveman07/facebook-in-rails" data-icon="octicon-star" data-count-href="/caveman07/facebook-in-rails/stargazers" data-count-api="/repos/caveman07/facebook-in-rails#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star caveman07/facebook-in-rails on GitHub">Star</a>
      </div>
      <div id="greeting-page" class="large-container">
        <div class="ui container">
          <div class="intro">
            <h1 class="ui inverted header">
                <span class="appnaming">UZLS</span>
                <span class="description">Another useless social network</span>
            </h1>
            <div class="ui hidden divider"></div>
            <%= link_to "Sign Up", new_user_registration_path, class: "ui teal huge button"  %>
            <%= link_to "Log in", new_user_session_path, class: "ui inverted grey huge button" %>
          </div>
        </div>
      </div>
