<div class="new-post">
<%= form_for @post do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
  <div class="ui form">
      <div class="field">
        <label><i class="tini write icon"></i>New post (max 500 letters)</label>
        <%= f.text_area :body, placeholder: "Compose new post...", id: "form-text", rows: "2"  %>


      </div>
      <%= f.hidden_field :user_id, :value => current_user.id %>

      <%= f.submit "Post", class: "mini ui blue button" %>
  </div>
<% end %>
</div>
